body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.body-dark {
    background-color: #2F2222;
}

.info-label-dark {
    color: black;
}

.body-light {
    background-color: #F6E5E5;
}

.info-label-light {
    color: white;
}

.info-label-hidden {
    visibility: hidden;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.centered-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20%;
}

.centred-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px;
    background-color: white;
    border-width: 1px;
    border-radius: 4px;
}